@import "tailwindcss";


:root {
  --bg-dark-primary: #111827;
  --bg-dark-secondary: #1F2937;
  --panel-bg: #1a2035;
  --border-color: #374151;
  --primary-accent: #4338CA;
  --primary-accent-hover: #3730A3;
  --secondary-accent: #10B981;
  --text-light: #E5E7EB;
  --text-muted: #9CA3AF;
  --text-gold: #FBBF24;
  --danger: #DC2626;
  --danger-hover: #B91C1C;
}

html {
  scroll-behavior: smooth;
}